main#wrapper {
  margin: auto;
  width: 600px;
  height: 500px;
  border: 2px solid red;
}

h1 {
  margin: 1rem auto 0 auto;
  text-align: center;
}

div#create-monster {
  display: flex;
  text-align: center;
  border: 2px solid blue;
  width: 250px;
  margin: auto;
}

input.input {
  width: 200px;
  margin: 0.5rem auto 0 auto;
}

div#buttons {
  position: relative;
  margin: 1rem auto 0 auto;
  text-align: center;
  width: 100px;
  height: 20px;
  border: 2px solid red;
}